#home #home-content {
    margin-top: 15px;
    padding: 15px 10px;
}
#home #home-content .home-content-latset-users {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    border-radius: 5px;
}
#home #home-content .home-content-latset-users .home-content-users-title {
    padding: 20px 15px;
}
#home #home-content .home-content-latset-users .home-content-users-title span {
    font-size: 18px;
    font-family: "lalezar";
}
#home #home-content .home-content-latset-users .home-content-users-title span .signup {
    color: #1943da;
}
#home #home-content .home-content-latset-users .home-content-users-table {
    padding: 0 10px;
}
#home #home-content .home-content-latset-users .home-content-users-table table thead {
    background-color: #f2f7fd;
}
#home #home-content .home-content-latset-users .home-content-users-table table thead tr th {
    font-family: "lalezar";
    border: none;
    color: #67747e;
    text-align: center;
}
#home #home-content .home-content-latset-users .home-content-users-table table tbody tr {
    vertical-align: middle;
}
#home #home-content .home-content-latset-users .home-content-users-table table tbody tr .profile-table {
    width: 40px;
    border-radius: 50%;
}
#home #home-content .home-content-latset-users .home-content-users-table table tbody tr td {
    text-align: center;
}
#home #home-content .home-content-latset-users .home-content-users-table table tbody tr td .edit-btn {
    font-size: 13px;
}
#home #home-content .home-content-latset-users .home-content-users-table table tbody tr td .delete-btn {
    font-size: 13px;
}
#home #home-content .home-content-edit {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 20px 10px;
    visibility: hidden;
    opacity: 0;
}
#home #home-content .home-content-edit .back-btn {
    padding: 0 15px;
}
#home #home-content .home-content-edit .back-btn i {
    cursor: pointer;
}
#home #home-content .home-content-edit .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#home #home-content .home-content-edit .form .input {
    margin: 5px 15px;
}
#home #home-content .home-content-edit .form .input input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 3px;
    border: none;
    border: 1px solid #a6a6a6;
    padding: 5px 15px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#home #home-content .home-content-edit .form .input input::-webkit-input-placeholder {
    font-size: 13px;
}
#home #home-content .home-content-edit .form .input input:-ms-input-placeholder {
    font-size: 13px;
}
#home #home-content .home-content-edit .form .input input::-ms-input-placeholder {
    font-size: 13px;
}
#home #home-content .home-content-edit .form .input input::placeholder {
    font-size: 13px;
}
#home #home-content .home-content-edit .form .input input:focus {
    border: 1px solid #99f;
    -webkit-box-shadow: 0px 0px 5px 0px #b3b3b3;
    box-shadow: 0px 0px 5px 0px #b3b3b3;
}
#home #home-content .home-content-edit .form .input .input-title {
    font-size: 18px;
    font-family: "lalezar";
}
#home #home-content .home-content-edit .form .bottom-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 15px;
}
#home #home-content .home-content-edit .form .bottom-form .sex .input-title {
    font-size: 18px;
    font-family: "lalezar";
}
#home #home-content .home-content-edit .form .bottom-form .sex .radios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#home #home-content .home-content-edit .form .bottom-form .sex .radios div {
    margin: 0 10px;
}
#home #home-content .home-content-edit .form .bottom-form .sex .radios div label {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#home #home-content .home-content-edit .form .bottom-form .sex .radios div input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    margin-right: 3px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #2774f5;
    width: 15px;
    height: 15px;
}
#home #home-content .home-content-edit .form .bottom-form .sex .radios div input:checked {
    position: relative;
}
#home #home-content .home-content-edit .form .bottom-form .sex .radios div input:checked::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 9px;
    height: 9px;
    background-color: #2774f5;
    border-radius: 50%;
}
#home #home-content .home-content-edit .form .bottom-form .submit-btn {
    margin-top: 5px;
}
#home #home-content .home-content-edit .form .bottom-form .submit-btn input {
    background-color: #2774f5;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 5px 20px;
}
#content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
#delete-modal {
    width: 400px;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10000;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 1px #ccc;
    box-shadow: 0px 0px 5px 1px #ccc;
    padding: 30px 0;
    border-radius: 3px;
}
#delete-modal .delete-modal-icon {
    color: #fc1717;
    font-size: 40px;
}
#delete-modal .delete-modal-title {
    font-size: 20px;
    font-family: "lalezar";
    padding: 10px 0;
}
#delete-modal .delete-modal-btns button {
    padding: 4px 30px;
    font-size: 14px;
    border-radius: 3px;
}
#delete-modal .delete-modal-btn-yes {
    border: none;
    background-color: #fc1717;
    color: #fff;
}
#delete-modal .delete-modal-btn-no {
    background-color: transparent;
    color: #292929;
    margin-left: 20px;
    border: 1px solid #ccc;
}
.active-modal #delete-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#overlay {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(24, 22, 22, 0.4);
    position: absolute;
    top: 0;
}
.active-modal #overlay {
    display: block;
}
.active-modal {
    overflow: hidden;
}
.active-modal-notfication .home-notification-modal {
    display: block !important;
}
.active-edit-modal {
    visibility: visible !important;
    opacity: 1 !important;
}
.mode    {
    background-color: #eef5fd;
    border-radius: 5px;
    padding: 8px 10px;
    margin-right: 20px;
}
.mode-list   {
    display: flex;
}
.mode-list-item  {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}
.mode-red{
    background-color: rgb(245, 79, 79);
}
.mode-blue{
    background-color: rgb(59, 59, 241);
}
.mode-dark{
    background-color: rgb(58, 58, 58);
}
.mode-light{
    background-color: #fff;
}
.active-modal-notfication {
    display: block !important;
}