.product-item{
    padding: 1rem;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    margin: 0 .5rem;
    height: 18em;

}

.product-item__title{
    font-size: .8rem;
    font-weight: 300;
    color: #000;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: center;
    margin: .5rem 0;

}
.product-item__price{
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    color: #000;

}
.product-item__seller{
    background: var(--red-color);
    color: #faebd7;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: .3rem ;
    border-radius: 5px;
    margin-top: .5rem;
   
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.product-item__seller span {
    font-weight: 900;
    color: #fff;
    font-size: 10px!important;
  

}
.product-item__seller .desc{
    font-size: 15px!important;
}
.product-item__img{
    display: grid
    ;
        justify-items: center;
        align-items: center;
    
}
.product-item__img img{

    width: 100%;
    height: 7rem;
    object-fit: contain;
}